{% load static %}


<div class="row row--30">
    {% for post in recent_posts %}
    <div class="col-lg-4 col-md-6">
        <!-- Single Most Populer Item Start -->
        <div class="single-most-populer-item" data-aos="fade-up">
            <a href="{% url 'posts:post-detail' post.category.slug post.slug %}" class="most-populer-thum">
                <img src="{{post.thumbnail.url}}" alt="" />
            </a>
            <div class="most-populer-content">
                <div class="most-populer-post-author">
                    By <a href="#">{{post.author.first_name}} {{post.author.last_name}}</a>
                </div>
                <h3 class="title"><a href="{% url 'posts:post-detail' post.category.slug post.slug %}">{{post.title}}</a>
                </h3>
                <p class="dec mt-2">{{post.intro}}</p>
                <div class="most-populer-post-meta">
                    <span class="post-date">
                    <a href="#">{{post.date_created}}</a>
                </span>
                    <span>10 min read</span>
                </div>
            </div>
        </div><!-- Single Most Populer Item End -->
    </div>
    {% empty %}
    <div style="text-align:center;margin-top:50px;">
        <p>Recent blog posts will appear here.</p>
    </div>
    {% endfor %}

</div>